<% @recipes.each do |recipe| %>
    <a href='/recipes/<%= recipe.id %>'>
        Recipe Name: <%= recipe.name %>
        Ingredients: <%= recipe.ingredients %>
        Cook Time: <%= recipe.cook_time %>
    </a>
<% end %>