<form method="POST" action="/recipes">

    <input type="text" name="name"> : NAME 
    <br>
    <input type="text" name="ingredients"> : INGREDIENTS 
    <br>
    <input type="text" name="cook_time"> : COOK TIME 
    <br>
    <br>
    <input type="submit">

</form>