<form action="/recipes" method="post">

  <label for="name">Name: </label>
  <input type="text" name="name" value="name">

  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients" value="ingredients">

  <label for="cook_time">Cook Time:</label>
  <input type="text" name="cook_time" value="cook_time">

  <input type="submit" value="submit"/>

</form>


<a href="/recipes/edit"> edit/delete recipe</a>
<a href="/recipes/index"> show all recipes</a>
<a href="/recipes/show"> show a recipe</a>
