<h1> <%= @item.name %></h1> <br/>
<p>
<%= @item.ingredients %><br/>
</p>
<p>
<%= @item.cook_time %>
</p>

<a href="/recipes/new"> create a new recipe</a>
<a href="/recipes/edit"> edit/delete recipe</a>
<a href="/recipes/index"> show all recipes</a>
